* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
input[type="radio"] {
    appearance: none; 
}
label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 10px;
}
label::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left:0;    
    background: linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(212, 212, 212, 1) 100%);
    margin-right: 3px;
    border: 1px solid black;
    border-radius: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    background: rgb(0,0,0);
    border-radius: 100%;
}
label:focus::before {
    content: '';
    border: 2px solid blue;
}
input[type="radio"]:checked:disabled + label {
    opacity: 0.5;
}
input[type="radio"]:disabled + label {
    opacity: 0.5;
}
input[type="radio"]:hover:not(:disabled) + label:before {
    background: rgba(0, 0, 0, 0.1);
}
input[type="radio"]:active:not(:disabled) + label::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}
input[type="radio"]:active:not(:disabled) + label::before {
    content: '';
    background: rgba(0, 0, 0, 0.1);
}