* {
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
}



li:first-child::before {
    content: '';
}

li:first-child  a {
    font-weight: 700;
}
li {
    padding-left: 10px;   
}
li::before {
    content: '♦';
    padding-left: 10px;
    padding-right: 10px;
} 
a {
    text-decoration: none;
    color: #333;
}
a:active{
    color: #333;
}
a:hover {
    color: #3072C4;
}
